@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://cdn.airikr.me/fonts/inter-400.woff2);
	unicode-range: U+000-5FF;
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://cdn.airikr.me/fonts/inter-700.woff2);
	unicode-range: U+000-5FF;
}

@font-face {
	font-family: 'Victor Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://cdn.airikr.me/fonts/victor-mono-400.woff2);
	unicode-range: U+000-5FF;
}



* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html, body {
	background-color: #0f0f0f;
	color: #c3c4c5;
	font-family: 'Inter', sans-serif;
	font-size: 0.980rem;
	line-height: 1.620rem;
	margin: 0;
	padding: 0;
}

body {
	overflow-y: scroll;
}

a {
	color: #c5def2;
	text-decoration: underline;
}

p {
	margin: 0;
	padding: 10px 0;
	text-align: justify;
}

h2 {
	font-size: 250%;
	font-weight: 400;
	margin: 40px 0;
	line-height: 100%;
	padding: 0;
	text-align: center;
}

h2 > a {
	color: #eaeaea;
	padding: 20px;
	text-decoration: none;
}

h3 {
	align-items: center;
	display: flex;
	flex-direction: row;
	font-size: 138%;
	font-weight: 400;
	margin: 40px 0 0 0;
	padding-top: 75px;
}

h3.first {
	margin: 0;
}

h3 > a {
	align-items: center;
	color: #eaeaea;
	display: flex;
	margin-left: -30px;
	margin-right: 10px;
	justify-content: center;
	opacity: .5;
	text-decoration: none;
}

h3 > a:hover {
	opacity: 1;
}

h3 > a > svg {
	height: 20px;
	width: 20px;
}

h4 {
	margin: 30px 0 0 0;
	padding: 0;
}

svg > path:last-child {
	fill: #eaeaea;
}

code {
	border: 1px solid #373737;
	border-radius: 3px;
	font-family: 'Victor Mono', monospace;
	font-size: 95%;
	padding: 3px;
}

pre {
	background-color: #181818;
	border: 0;
	border-radius: 3px;
	font-family: 'Victor Mono', monospace;
	font-size: 100%;
	line-height: 140%;
	padding: 15px 20px;
	white-space: pre-line;
}

pre.space-below {
	margin-bottom: 30px;
}

pre > code {
	border: 0;
	border-radius: 0;
	color: #e1da8a;
	padding: 0;
}

ol > li {
	padding: 3px 0;
}

main {
	margin: 0 auto 50px auto;
	max-width: 900px;
}

main > section#roadmap {
	background-color: #111111;
	border-radius: 5px;
	font-size: 90%;
	margin: 0 auto;
	position: sticky;
	top: 10px;
	width: 90%;
	z-index: 9999;
}

main > section#roadmap > details > summary {
	cursor: pointer;
	padding: 10px 15px;
}

main > section#roadmap > details > a {
	color: #eaeaea;
	display: block;
	padding: 5px 15px;
	text-decoration: none;
}



.attention {
	align-items: baseline;
	display: flex;
	flex-direction: row;
	padding: 20px;
}

.attention > .code {
	border-radius: 3px;
	font-family: 'Victor Mono', monospace;
	font-size: 90%;
	line-height: 100%;
	letter-spacing: 1px;
	margin-right: 20px;
	line-height: 100%;
	text-transform: uppercase;
	padding: 8px;
}

.attention > .code.info {
	border: 1px solid #284e6b;
	color: #8aa9e1;
}

.attention > .code.important {
	border: 1px solid #6a6b28;
	color: #f4e98a;
}

.intro {
	color: #8abde1;
	font-size: 88%;
	line-height: 140%;
	max-width: 400px;
	opacity: .7;
}

.intro > p {
	padding: 5px 0;
}

.portable {
	display: none;
}



table#fields,
table#errors {
	margin-top: 20px;
}

table > thead > tr > td {
	font-weight: 700;
	padding: 5px;
}

table > thead > tr > td.parameter {
	width: 250px;
}

table > tbody > tr > td.parameter {
	width: 350px;
}

table > thead > tr > td.required {
	width: 100px;
}

table > thead > tr > td.code,
table > tbody > tr > td.code {
	width: 120px;
}

table > thead > tr > td.description,
table > tbody > tr > td.description {
	width: calc(100% - 360px);
}

table > tbody > tr > td {
	vertical-align: top;
	padding: 5px;
	text-align: left;
}







@media only screen and (max-width: 990px) {

	p {
		text-align: left;
	}

	h3 > a {
		margin-left: 0;
	}

	main {
		padding: 0 20px;
	}

	table > thead,
	table > tbody > tr > td > .desktop {
		display: none;
	}

	table > tbody > tr {
		display: block;
		padding: 15px 0;
	}

	table > tbody > tr > td {
		display: block;
		padding: 2px 5px;
		width: 100% !important;
	}

	table > tbody > tr > td > .portable {
		display: inline-block;
		font-weight: 700;
	}

	.attention {
		flex-direction: column;
		padding: 20px 10px 10px 10px;
	}

	.attention > .code {
		margin: 0 0 10px 0;
	}

}
